:host {
  position: relative;
  display: block;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip-hover:hover {
  cursor: help;
}

svg {
  width: 700px;
}

.star {
  fill: lightcoral;
}

.medium-circles {
  fill: blueviolet;
}

.small-circles {
  fill: gold;
}

.large-circle {
  fill: blue;
}

.drag-drop {
  border: 1px solid black;
  width: fit-content;
  display: flex;
  gap: 1rem;
  cursor: move;
  p {
    cursor: move;
    padding: 1rem;
    margin: 0;
  }
}

.bordered-div {
  border: 1px solid black;
  width: fit-content;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  p {
    padding: 1rem;
    margin: 0;
  }
}
